# Nettoyage des fichiers avant transfert dans MongoDB

### Imports

In [1]:
import pandas as pd

### Nettoyage fichier top_250_film

In [2]:
def time_minute (list = list):
    if len(list) == 5 :
        time_minute = str(int(list[0]) * 60 + int(list[3]))
    elif len(list) == 2 :
        time_minute = str(int(list[0]))
    else:
        time_minute = 0
    return time_minute

In [3]:
df_film = pd.read_csv('csv/top_250_film.csv')

df_film

,date,scrap_type,title,original_title,genre,score,annee,public,time,langue,pays,description,acteur
0,2022-12-14 19:20:46.954340,film,Back to the Future,Back to the Future,Adventure,8.5,1985,Tous publics,"1,h, ,56,m",English,United States,"Marty McFly, a 17-year-old high school student...","Michael J. Fox, Christopher Lloyd, Lea Thomps..."
1,2022-12-14 19:20:47.749650,film,Léon: The Professional,Léon,Action,8.5,1994,Tous publics avec avertissement,"1,h, ,50,m",NaN,France,12-year-old Mathilda is reluctantly taken in b...,"Jean Reno, Gary Oldman, Natalie Portman, Dann..."
2,2022-12-14 19:20:48.119392,film,Parasite,Gisaengchung,Drama,8.5,2019,Tous publics avec avertissement,"2,h, ,12,m","Korean,English",South Korea,Greed and class discrimination threaten the ne...,"Song Kang-ho, Lee Sun-kyun, Cho Yeo-jeong, Ch..."
3,2022-12-14 19:20:48.280536,film,The Shawshank Redemption,The Shawshank Redemption,Drama,9.3,1994,Tous publics avec avertissement,"2,h, ,22,m",English,United States,Two imprisoned men bond over a number of years...,"Tim Robbins, Morgan Freeman, Bob Gunton, Will..."
4,2022-12-14 19:20:48.560981,film,The Pianist,The Pianist,Biography,8.5,2002,Tous publics avec avertissement,"2,h, ,30,m","English,German,Russian",France,A Polish Jewish musician struggles to survive ...,"Adrien Brody, Emilia Fox, Michal Zebrowski, E..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,2022-12-14 19:24:06.449487,film,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,Action,8.8,2001,Tous publics,"2,h, ,58,m","English,Sindarin",New Zealand,A meek Hobbit from the Shire and eight compani...,"Alan Howard, Noel Appleby, Sean Astin, Sala B..."
245,2022-12-14 19:24:06.844924,film,The Godfather Part II,The Godfather Part II,Crime,9.0,1974,Tous publics avec avertissement,"3,h, ,22,m","English,Italian,Spanish,Latin,Sicilian",United States,The early life and career of Vito Corleone in ...,"Al Pacino, Robert Duvall, Diane Keaton, Rober..."
246,2022-12-14 19:24:07.367294,film,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,Action,9.0,2003,Tous publics,"3,h, ,21,m","English,Quenya,Old English,Sindarin",New Zealand,Gandalf and Aragorn lead the World of Men agai...,"Noel Appleby, Ali Astin, Sean Astin, David As..."
247,2022-12-14 19:24:07.500507,film,The Godfather,The Godfather,Crime,9.2,1972,Tous publics avec avertissement,"2,h, ,55,m","English,Italian,Latin",United States,The aging patriarch of an organized crime dyna...,"Marlon Brando, Al Pacino, James Caan, Richard..."
248,2022-12-14 19:24:08.138709,film,The Dark Knight,The Dark Knight,Action,9.0,2008,Tous publics,"2,h, ,32,m","English,Mandarin",United States,When the menace known as the Joker wreaks havo...,"Christian Bale, Heath Ledger, Aaron Eckhart, ..."

In [4]:
df_film['time'] = df_film['time'].apply(lambda x : x.split(","))
df_film['acteur'] = df_film['acteur'].apply(lambda x : x.split(","))

df_film['time'] = df_film['time'].apply(lambda x : time_minute(x))
# df_film['len'] = df_film['time'].apply(lambda x : len(x))

df_film = df_film.sort_values(by=['score', 'annee'], ascending=False)

df_film

,date,scrap_type,title,original_title,genre,score,annee,public,time,langue,pays,description,acteur
3,2022-12-14 19:20:48.280536,film,The Shawshank Redemption,The Shawshank Redemption,Drama,9.3,1994,Tous publics avec avertissement,142,English,United States,Two imprisoned men bond over a number of years...,"[ Tim Robbins, Morgan Freeman, Bob Gunton, ..."
247,2022-12-14 19:24:07.500507,film,The Godfather,The Godfather,Crime,9.2,1972,Tous publics avec avertissement,175,"English,Italian,Latin",United States,The aging patriarch of an organized crime dyna...,"[ Marlon Brando, Al Pacino, James Caan, Ric..."
248,2022-12-14 19:24:08.138709,film,The Dark Knight,The Dark Knight,Action,9.0,2008,Tous publics,152,"English,Mandarin",United States,When the menace known as the Joker wreaks havo...,"[ Christian Bale, Heath Ledger, Aaron Eckhar..."
246,2022-12-14 19:24:07.367294,film,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,Action,9.0,2003,Tous publics,201,"English,Quenya,Old English,Sindarin",New Zealand,Gandalf and Aragorn lead the World of Men agai...,"[ Noel Appleby, Ali Astin, Sean Astin, Davi..."
242,2022-12-14 19:24:05.319186,film,Schindler's List,Schindler's List,Biography,9.0,1993,Tous publics avec avertissement,195,"English,Hebrew,German,Polish,Latin",United States,"In German-occupied Poland during World War II,...","[ Liam Neeson, Ben Kingsley, Ralph Fiennes, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,2022-12-14 19:21:42.289599,film,Mr. Smith Goes to Washington,Mr. Smith Goes to Washington,Comedy,8.1,1939,Tous publics,129,NaN,United States,A naive youth leader is appointed to fill a va...,"[ Jean Arthur, James Stewart, Claude Rains, ..."
27,2022-12-14 19:21:05.879800,film,It Happened One Night,It Happened One Night,Comedy,8.1,1934,Tous publics,105,NaN,United States,A renegade reporter trailing a young runaway h...,"[ Clark Gable, Claudette Colbert, Walter Con..."
39,2022-12-14 19:21:16.154530,film,The Incredibles,The Incredibles,Animation,8.0,2004,Tous publics,115,"English,French",United States,"While trying to lead a quiet suburban life, a ...","[ Craig T. Nelson, Holly Hunter, Samuel L. J..."
21,2022-12-14 19:21:02.785442,film,Aladdin,Aladdin,Animation,8.0,1992,Tous publics,90,English,United States,A kindhearted street urchin and a power-hungry...,"[ Scott Weinger, Robin Williams, Linda Larki..."
24,2022-12-14 19:21:03.840996,film,Life of Brian,Life of Brian,Comedy,8.0,1979,Tous publics avec avertissement,94,NaN,United Kingdom,Born on the original Christmas in the stable n...,"[ Graham Chapman, John Cleese, Terry Gilliam..."

In [5]:
df_film['public'].value_counts()

Tous publics                       144
Tous publics avec avertissement    101
16+                                  2
18+                                  1
12+                                  1
Name: public, dtype: int64

In [16]:
df_film['time'].astype(int)

3      142
247    175
248    152
246    201
242    195
      ...
72     129
27     105
39     115
21      90
24      94
Name: time, Length: 249, dtype: int64

In [6]:
df_film.to_csv('csv/top_250_film.csv', index=False)

### Nettoyage fichier top_250_serie

In [7]:
df_serie = pd.read_csv('csv/top_250_serie.csv')

df_serie

,date,scrap_type,title,original_title,score,annee,public,genre,saison,time,pays,langue,description
0,2022-12-14 19:24:21.444633,serie,The Civil War,The Civil War,9.1,1990,14+,Documentary,1,"TV Mini Series,11,h, ,20,m",United States,NaN,A comprehensive survey of the American Civil War.
1,2022-12-14 19:24:21.653744,serie,Frozen Planet,Frozen Planet,9.0,2011–2012,Tous publics,Documentary,1,"TV Mini Series,5,h, ,33,m",United Kingdom,English,Focuses on life and the environment in both th...
2,2022-12-14 19:24:22.395112,serie,Firefly,Firefly,9.0,2002–2003,14+,Adventure,1,"TV Series,44,m",United States,English,"Five hundred years in the future, a renegade c..."
3,2022-12-14 19:24:23.632167,serie,Death Note,Death Note: Desu nôto,9.0,2006–2007,14+,Animation,1,"TV Series,24,m",Japan,Japanese,An intelligent high school student goes on a s...
4,2022-12-14 19:24:23.766926,serie,Planet Earth II,Planet Earth II,9.5,2016,Tous publics,Documentary,1,"TV Mini Series,4,h, ,58,m",United Kingdom,English,David Attenborough returns with a new wildlife...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,2022-12-14 19:28:18.633073,serie,Band of Brothers,Band of Brothers,9.4,2001,16+,Drama,1,"TV Mini Series,9,h, ,54,m",United States,English,The story of Easy Company of the U.S. Army 101...
242,2022-12-14 19:28:18.681386,serie,The Sopranos,The Sopranos,9.2,1999–2007,16+,Crime,6,"TV Series,55,m",United States,English,New Jersey mob boss Tony Soprano deals with pe...
243,2022-12-14 19:28:19.087247,serie,Avatar: The Last Airbender,Avatar: The Last Airbender,9.3,2005–2008,7+,Animation,3,"TV Series,23,m",United States,English,"In a war-torn world of elemental magic, a youn..."
244,2022-12-14 19:28:19.466118,serie,Planet Earth,Planet Earth,9.4,2006,Tous publics,Documentary,1,"TV Mini Series,8,h, ,58,m",United Kingdom,English,"Emmy Award-winning, 11 episodes, five years in..."
245,2022-12-14 19:28:19.602509,serie,Breaking Bad,Breaking Bad,9.5,2008–2013,16+,Crime,5,"TV Series,49,m",United States,English,A chemistry teacher diagnosed with inoperable ...

In [8]:
df_serie['saison'].value_counts()

 1    83
 3    28
 2    25
 4    21
 5    20
 6    17
 7     9
on     8
 8     7
 9     6
13     4
10     4
11     4
16     2
12     1
20     1
21     1
33     1
34     1
25     1
22     1
14     1
Name: saison, dtype: int64

In [9]:
def time_minute_serie (list = list):
    if len(list) == 6 :
        time_minute = str(int(list[1]) * 60 + int(list[4]))
    elif len(list) == 3 :
        time_minute = str(int(list[1]))
    else:
        time_minute = 0
    return time_minute

In [10]:
df_serie['time'] = df_serie['time'].apply(lambda x : x.split(","))

df_serie['time'] = df_serie['time'].apply(lambda x : time_minute_serie(x))

df_serie = df_serie.sort_values(by=['score', 'annee'], ascending=False)

df_serie

,date,scrap_type,title,original_title,score,annee,public,genre,saison,time,pays,langue,description
13,2022-12-14 19:24:30.843337,serie,Bluey,Bluey,9.6,2018–,2+,Animation,3,7,Australia,English,The slice-of-life adventures of an Australian ...
4,2022-12-14 19:24:23.766926,serie,Planet Earth II,Planet Earth II,9.5,2016,Tous publics,Documentary,1,298,United Kingdom,English,David Attenborough returns with a new wildlife...
245,2022-12-14 19:28:19.602509,serie,Breaking Bad,Breaking Bad,9.5,2008–2013,16+,Crime,5,49,United States,English,A chemistry teacher diagnosed with inoperable ...
121,2022-12-14 19:26:14.558348,serie,Bleach: Thousand-Year Blood War,Bleach: Sennen Kessen-hen,9.4,2022–,16+,Animation,1,24,Japan,Japanese,The peace is suddenly broken when warning sire...
240,2022-12-14 19:28:18.259633,serie,Chernobyl,Chernobyl,9.4,2019,16+,Drama,1,330,United States,English,"In April 1986, an explosion at the Chernobyl n..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40,2022-12-14 19:25:00.215494,serie,Futurama,Futurama,8.5,1999–2023,14+,Animation,10,22,United States,English,"Philip J. Fry, a pizza delivery boy, is accide..."
67,2022-12-14 19:25:21.925998,serie,Whose Line Is It Anyway?,Whose Line Is It Anyway?,8.5,1998–2007,Tous publics,Comedy,8,30,United States,NaN,Improvisational comedy competition show in whi...
54,2022-12-14 19:25:10.550865,serie,Neon Genesis Evangelion,Shin seiki evangerion,8.5,1995–1996,16+,Animation,1,24,Japan,NaN,A teenage boy finds himself recruited as a mem...
15,2022-12-14 19:24:31.326814,serie,X-Men: The Animated Series,X-Men,8.5,1992–1997,7+,Animation,5,23,United States,English,A team of mutant superheroes fight for justice...
35,2022-12-14 19:24:51.573791,serie,Alfred Hitchcock Presents,Alfred Hitchcock Presents,8.5,1955–1962,14+,Comedy,7,25,United States,NaN,Series of unrelated short stories covering ele...

In [14]:
df_serie['time'].astype(int)

13       7
4      298
245     49
121     24
240    330
      ...
40      22
67      30
54      24
15      23
35      25
Name: time, Length: 246, dtype: int64

In [15]:
df_serie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 246 entries, 13 to 35
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            246 non-null    object
 1   scrap_type      246 non-null    object
 2   title           246 non-null    object
 3   original_title  246 non-null    object
 4   score           246 non-null    float64
 5   annee           246 non-null    object
 6   public          246 non-null    object
 7   genre           246 non-null    object
 8   saison          246 non-null    object
 9   time            246 non-null    object
 10  pays            246 non-null    object
 11  langue          185 non-null    object
 12  description     246 non-null    object
dtypes: float64(1), object(12)
memory usage: 26.9+ KB

In [ ]:
df_serie.to_csv('csv/top_250_serie.csv', index=False)